.project-text {
	background-color: #1E1E1E;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    border: 1px solid #333333;  
    color: white;
}

.project-div {
	margin-bottom: 2rem;
}

.project-heading {
	color: white;
	text-align: center;
	font-weight: normal;
	font-size: 3rem;
	margin-top: 2rem;
    
}

.title-color {
    color: #999999;
}

.projects-grid {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.projects-grid h2 {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	margin-bottom: 20px;
}

.projects-grid p {
	font-size: 1rem;
	color: #fff;
}

.projects-container {
	padding: 20px;
	text-align: center;
}

.project-title {
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.project-paragraph {
    color: #fff;
    font-size: 1.8rem;
    margin: 10rem;
}
